*{
	margin: 0;
	padding: 0;
	font-family: 'Raleway';
	box-sizing: border-box;
	outline: none;
}
.menu-link{
	z-index: 20;
	display: block;
	width: 50px;
	height: 50px;
	background-color: #fff;
	border-radius: 50%;
	box-shadow: 1px 1px 10px rgba(0,0,0,.4);
    position: fixed;
    top: 20px;
    right: 20px;
}
.menu-link span, span::before, span::after{
	display: block;
	height: 2px;
	width: 18px;
	background-color: #333;
	position: absolute;
	left: 50%;
	margin-left: -9px;
	top: 50%;
	margin-top: -1px;
}
.menu-link span::before{
	transition: all 0.2s;
	content: '';
	margin-top: -5px;
}
.menu-link span::after{
	transition: all 0.2s;
	content: '';
	margin-top: 3px;
}
.menu-link__active span{
	background-color: transparent;
}
.menu-link__active span::before{
	-webkit-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
	margin-top: 0;
}
.menu-link__active span::after{
	-webkit-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
	margin-top: 0;
}
.menu{
	opacity: .9;
	background-color: #000;
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 19;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	left: -100vw;
	transition: all 0.5s;
	justify-content: center;
	align-items: center;
}
.menu ul{
	list-style: none;
	padding: 0;
	text-align: center;
}
.menu ul li{
	width: 100vw;
}
.menu ul a{
	color: #fff;
	line-height: 4;
	font-weight: 100;
	letter-spacing: 5px;
	text-decoration: none;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	width: 100%;
	display: block;
}
.menu ul a:hover{
	background-color: rgba(255,255,255,.4);
	text-decoration: none;
	display: block;
}
.menu_active{
	left: 0;
}
.close{
	color: #000;
	width: 50px;
	margin: 0 auto;
	cursor: pointer;
}
.overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: #000;
	opacity: .96;
	font-size: 30px;
	display: none;
}
.call{
	background: #fff url(../img/black-background.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	border-radius: 20px;
	z-index: 30;
	height: auto;
	width: 50%; 
	position: relative;
	padding: 0;
	margin: 0 auto;
	margin-top: 5%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.overlay-form{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	padding-bottom: 20px;	
}
.overlay-form p{
	color: #fff;
}
.overlay-form label{
	color: #fff;
	position: relative;
	z-index: 50;
}
.call input{
	padding: 10px 20px;
	border-radius: 5px;
	outline: none;
	border: none;
	margin-top: 10px;
}
.call h2{
	margin: 0;
	margin-bottom: 70px;
	color: #fff;
}
.closer{
	font-weight: 900;
	font-size: 70px;
	cursor: pointer;
	position: absolute;
	top: -30px;
	right: 10px;
	margin: 0;
	color: #fff;
}
section{
	margin: 0 auto;
}
.header{
	background: #f3f3f3 url(../img/0-header.jpg) 0 0 no-repeat;
	height: 115vh;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.button-call{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #fff url(../img/auricular-phone-symbol-in-a-circle.svg) 0 0 no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 6;
	outline: none;
	box-shadow: 1px 1px 10px rgba(0,0,0,.4);
}
.button-call:active{
	outline: none;
}
.button-go:active{
	outline: none;
}
.button-go{
	padding: 9px 20px;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 20px;
}
.header::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	opacity: .3;
}
.header-content{
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.header-content h1{
	color: #fafafd;
	font-size: 75px;
	letter-spacing: 10px;
	font-family: 'Raleway', sans-serif;
	margin-bottom: 150px;
}
.header-content span{
	font-size: 45px;
	color: #dadada;
	text-align: center;
	margin-bottom: 100px;
}

.header-buttons button::after{
		transition: background-color .2s ease;
		position: absolute;
		content: '';
		height: 4px;
		bottom: 0;
		width: 100%;
		background-color: #000;
		opacity: .18;
		border-bottom-left-radius: 2px;
		border-bottom-right-radius: 2px;
		left: 0;
}
.but-one{
	border: none;
	color: #fff;
	text-decoration: none;
	background-color: #F0650D;
	padding: 17px 70px;
	font-size: 20px;
	font-weight: 800;
	border-radius: 2px;
	text-align: center;
	position: relative;
	outline: none;
	transition: background-color .1s ease;
	cursor: pointer;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.but-two{
	border: none;
	color: #fff;
	text-decoration: none;
	background-color: grey;
	padding: 17px 70px;
	font-size: 20px;
	font-weight: 800;
	border-radius: 2px;
	text-align: center;
	position: relative;
	outline: none;
	transition: background-color .1s ease;
	cursor: pointer;
	letter-spacing: 2px;
	margin-left: 30px;
	text-transform: uppercase;
}
.about-me_section{
	background-color: #ffe6be;
	height: auto;
	padding-left: 150px;
	padding-right: 100px;
	padding-top: 125px;
	position: relative;
	padding-bottom: 100px;
}
.about-me_section::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: .1;
}
.about-me_section h2{
	color: #066366;
	font-size: 25px;
	margin-bottom: 50px;
	font-weight: 400;
}
.about-me_section p{
	color: #3e3e3e;
	font-size: 25px;
	margin-top: 75px;
	line-height: 1.4;
}
.about-me_section span{
	color: #3e3e3e;
	font-size: 40px;
	font-weight: 700;
	font-style: italic;
	line-height: 1.5;
}
.about-me_item-top{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.about-me_item_bottom{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.about-me_item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 125px;
	margin-right: 75px;
	width: 45%;
}
.about-me_item img{
	width: 50px;
	margin-bottom: -3px;
	margin-right: 20px;
	border-radius: 50%;
}
.about-me_item span{
	align-items: center;
}
.about-me_item p{
	margin-top: 10px;
}
.my-skills_section{
	height: auto;
	background-color: #eee;
	padding-left: 150px;
	padding-right: 100px;
	padding-top: 125px;
}
.my-skills_section h2{
	color: #066366;
	font-size: 25px;
	margin-bottom: 50px;
	font-weight: 400;
}
.my-skills_section span {
	color: #000;
	font-size: 40px;
	font-weight: 700;
	font-style: italic;
	line-height: 1.7;
}
.my-skills_one{
	margin-top: 100px;
}
.my-skills_one, .my-skills_two, .my-skills_thre{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.my-skills_section-item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 50px;
	margin-right: 100px;
	width: 45%;
	padding-bottom: 50px;
}
.my-skills_section-item span img{
	width: 50px;
	margin-bottom: -7px;
	margin-right: 25px;
}
.my-skills_section-item p{
	font-size: 20px;
	line-height: 1.7;
}
.back-to-top img{
	width: 60px;
	height: 60px;
	background-color: transparent;
}
.my-works_section{
	background: #000 url(../img/black-background.jpg) 0 0 no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	height: auto;
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	padding-bottom: 50px;
}
.my-works_section::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	opacity: .4;
}
.my-works_section span{
	color: #066366;
	font-size: 25px;
	margin-bottom: 50px;
	font-weight: 400;
	position: relative;
	z-index: 10;
	margin-top: 50px;
}
.my-works_section p{
	color: #a7a7a7;
	font-size: 55px;
	margin-top: 75px;
	line-height: 1.4;
	position: relative;
	z-index: 10;
	text-align: center;
}
.line{
	width: 70%;
	height: 1px;
	background-color: #5e5e5e;
	margin-top: 30px;
	margin-bottom: 100px;
}
.works-item-one img{
	width: 450px;
	height: 300px;
	background-size: cover;
	background-position: center;
	transition: transform .25s ease;
}
.works-item-two img{
	width: 450px;
	height: 300px;
	background-size: cover;
	background-position: center;
	transition: transform .25s ease;
}
.works-item-three img{
	width: 450px;
	height: 300px;
	background-size: cover;
	background-position: center;
	transition: transform .25s ease;
}
.works-item-four img{
	width: 450px;
	height: 300px;
	background-size: cover;
	background-position: center;
	transition: transform .25s ease;
}
.works-item-five img{
	width: 450px;
	height: 300px;
	background-size: cover;
	background-position: center;
	transition: transform .25s ease;
}
.works-item-six img{
	width: 450px;
	height: 300px;
	background-size: cover;
	background-position: center;
	transition: transform .25s ease;
}
.works-item-one{
	transition: background-color .25s ease;
	overflow: hidden;
	position: relative;
}
.works-item-two{
	transition: background-color .25s ease;
	overflow: hidden;
	position: relative;
	margin-left: 50px;
}
.works-item-three{
	transition: background-color .25s ease;
	overflow: hidden;
	position: relative;
}
.works-item-four{
	transition: background-color .25s ease;
	overflow: hidden;
	position: relative;
	margin-left: 50px;
}
.works-item-five{
	transition: background-color .25s ease;
	overflow: hidden;
	position: relative;
}
.works-item-six{
	transition: background-color .25s ease;
	overflow: hidden;
	position: relative;
	margin-left: 50px;
}
.works-item-one img:hover{
	transform: scale(1.15) translateY(6.5px);
}
.works-item-two img:hover{
	transform: scale(1.15) translateY(6.5px);
}
.works-item-three img:hover{
	transform: scale(1.15) translateY(6.5px);
}
.works-item-four img:hover{
	transform: scale(1.15) translateY(6.5px);
}
.works-item-five img:hover{
	transform: scale(1.15) translateY(6.5px);
}
.works-item-six img:hover{
	transform: scale(1.15) translateY(6.5px);
}
.works-item-one:hover::after{
		transition: background-color .2s ease;
		position: absolute;
		content: 'logo.com';
		font-size: 50px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		justify-content: center;
		color: red;
		height: 20%;
		bottom: 0;
		left: 0;
		width: 100%;
		background-color: #000;
		opacity: .38;
}
.works-item-two:hover::after{
		transition: background-color .2s ease;
		position: absolute;
		content: 'luisoenri.com';
		font-size: 50px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		justify-content: center;
		color: red;
		height: 20%;
		bottom: 0;
		left: 0;
		width: 100%;
		background-color: #000;
		opacity: .38;
}
.works-item-three:hover::after{
		transition: background-color .2s ease;
		position: absolute;
		content: 'cando.com';
		font-size: 50px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		justify-content: center;
		color: red;
		height: 20%;
		bottom: 0;
		left: 0;
		width: 100%;
		background-color: #000;
		opacity: .38;
}
.works-item-four:hover::after{
		transition: background-color .2s ease;
		position: absolute;
		content: 'mycompany.com';
		font-size: 50px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		justify-content: center;
		color: red;
		height: 20%;
		bottom: 0;
		left: 0;
		width: 100%;
		background-color: #000;
		opacity: .38;
}
.works-item-five:hover::after{
		transition: background-color .2s ease;
		position: absolute;
		content: 'mirillis.com';
		font-size: 50px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		justify-content: center;
		color: red;
		height: 20%;
		bottom: 0;
		left: 0;
		width: 100%;
		background-color: #000;
		opacity: .38;
}
.works-item-six:hover::after{
		transition: background-color .2s ease;
		position: absolute;
		content: 'creatos.com';
		font-size: 50px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		justify-content: center;
		color: red;
		height: 20%;
		bottom: 0;
		left: 0;
		width: 100%;
		background-color: #000;
		opacity: .38;
}
.works-one, .works-two, .works-three{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	width: auto;
	margin-bottom: 50px;
	position: relative;
	z-index: 2;
}
.auth-section{
	background-color: #eee;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	align-items: center;
	height: auto;
	padding-top: 70px;
	margin: 0 auto;
	padding-bottom: 100px;
	text-align: center;
}
.auth-section h2{
	color: #066366;
	font-size: 25px;
	margin-bottom: 50px;
	font-weight: 400;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.auth-section p{
	color: #000;
	font-size: 50px;
	font-weight: 700;
	font-style: italic;
	line-height: 1.7;
	margin-bottom: 100px;
}
.auth-section span{
	font-size: 40px;
	font-weight: 700;
	margin-right: 50px;
}
.auth-top{
	margin-bottom: 50px;
}
.testimonials-section{
	background: #000 url(../img/testimonial.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	position: relative;
}
.testimonials-section::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	opacity: .9;
}
#quote-carousel .carousel-indicators {
    position: relative;
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-top: 50px;
}
#quote-carousel .carousel-indicators li {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    opacity: 0.4;
    overflow: hidden;
    transition: all .4s ease-in;
    vertical-align: middle;
 }
#quote-carousel .carousel-indicators li:nth-child(1){
 	background: #fff url(../img/dilove-1.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}
#quote-carousel .carousel-indicators li:nth-child(2){
 	background: #fff url(../img/dilove-2.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}
#quote-carousel .carousel-indicators li:nth-child(3){
 	background: #fff url(../img/dilove-3.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}
#quote-carousel .carousel-indicators .active {
    width: 128px;
    height: 128px;
    opacity: 1;
    transition: all .2s;
}
.testi {
 	display: -webkit-flex;
 	display: -moz-flex;
 	display: -ms-flex;
 	display: -o-flex;
 	display: flex;
 	-webkit-flex-direction: column;
 	-moz-flex-direction: column;
 	-ms-flex-direction: column;
 	-o-flex-direction: column;
 	flex-direction: column;
 	align-items: center;
 	text-align: center;
 	margin-top: 125px;
 	color: #fff;
 	font-size: 35px;
}
.text-org{
	color: #066366;
	font-size: 30px;
}
.text_dark{
	color: #dadada;
	font-size: 25px;
}
.footer{
	background-color: #ffe6be;
	height: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	align-items: center;
	padding-top: 50px;
	position: relative;
	padding-bottom: 20px;
}
.footer::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: .1;
}
.footer h2{
	letter-spacing: 1.9px;
	font-size: 25px;
	margin-bottom: 100px;
	text-align: center;
}
.footer p{
	font-style: italic;
	font-weight: 700;
	font-size: 40px;
	text-align: center;
}
footer .line{
	margin-bottom: 0;
}
.footer-social{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	align-content: center;
	text-align: center;
	margin-top: 25px;
}
.footer-social span{
	font-size: 30px;
}
.span{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.copy{
	margin-left: 10px;
	margin-top: 3px;
}
.footer-social-buttons a{
	width: 30px;
	position: relative;
}
.footer-social-buttons{
	margin-top: 20px;
}
.footer-social-buttons img{
	width: 30px;
}
.footer-social-buttons img{
	width: 30px;
	margin-left: 15px;
}
.footer-social-buttons img:hover{
	opacity: .8;
}
.button-up{
	width: 70px;
	height: 70px;
	background: url(../img/chevron-up.svg) 0 0 no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
	margin-top: 10px;
}